---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	<section>
		<div class="hero hero-alignment">
			<div id="brand" class="text-center">
				<img id="logo" src="img/logo.svg" alt="Laura's Touch, handmade with love" title="Laura's Touch">
				<div id="header">
					<h1 id="title">Laura's touch</h1>
					<p id="subtitle">HANDMADE with LOVE</p>
				</div>
			</div>
			<div id="shop" class="text-center">
				<a title="Go to my Etsy store" href="https://www.etsy.com/shop/laurastouchartcrafts" onclick="trackOutboundLink('https://www.etsy.com/shop/laurastouchartcrafts'); return false;">
					<img src="img/store.svg" alt="Store">
					<p>Shop now ↬</p>
				</a>
			</div>
		</div>
	</section>

	<section>
		<div class="container-fluid text-center padded-large">
			<div class="capital-letter">
				F
			</div>
			<!--<div class="row">-->
			<div class="intro col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
				<p>For those who would like to have a unique custom object, for those who have a favorite pet, for those who have simply fell in love with a tiny little snout...</p>
			</div>
			<!--</div>-->
		</div>
	</section>

	<section>
		<div class="container-fluid padded-large description">
			<!--			<div class="row"> -->
			<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-1">
				<img src="img/orecchini.jpg" class="img-responsive shadow-r center-block" alt="Polymer clay earrings">
				<p class="caption">Bow earrings</p>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-lg-5 col-lg-offset-1">
				<p class="txt-large">I create small <strong>decorations</strong>, <strong>pendants</strong>, <strong>bijoux</strong>, everything handmade, without the use of molds, because this is what makes me happy!</p>
				<p class="top-margin">I use <strong>polymer clay</strong> and all my enthusiasm, to craft cute pets or small decorations.</p>
				<a title="Go to my Etsy store" class="btn btn-default top-margin" href="https://www.etsy.com/shop/laurastouchartcrafts" onclick="trackOutboundLink('https://www.etsy.com/shop/laurastouchartcrafts'); return false;" role="button">My creations ↬</a>

				<!--				</div> -->
			</div>
		</div>
	</section>

	<section>
		<div class="container-fluid padded-large bombonnieres">
			<!--			<div class="row"> -->
			<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
				<img src="img/bomboniere.png" class="img-responsive shadow center-block" alt="Polymer clay bonbonnieres">
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
				<p class="txt-large top-margin">I also take custom orders such as <strong>favors</strong> and <strong>bonbonnieres</strong>: me and you will choose together what to create given your budget.</p>
				<a title="Send me a mail" class="btn btn-default top-margin" href="mailto:laurastouch.info@gmail.com" role="button">Contact me ↬</a>
				<!--				</div> -->
			</div>
		</div>
	</section>

	<section>
		<div class="container-fluid padded-large story">
			<div class="col-xs-12 text-center story-intro">
				<img id="ghirlanda" class="center-block" src="img/ghirlanda.png" alt="ghirlanda">
				<h2 class="story-title">Once upon a time...</h2>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
				<p>there was a girl who wanted to grow up and be independent, so she went to live alone. To really feel at home, she began to decorate her little house with handmade tiny little objects; to let everyone know that that was her house, she hanged a beautiful garland on the front door.
					<br> With the passing of seasons, the girl was changing all the decorations, always creating new ones, with special attention to the door garland. One day, a little child, by the hand of her mom, stopped in front of the garland and, smiling, said: &laquo;I can’t wait for Christmas!&raquo;
					<br> From that day on I decided to share my passion with those who want a handmade decoration, made with the heart.
				</p>
        <div class="text-center">
          <a title="About me" class="btn btn-default top-margin" href="about.html" role="button">More about me ↬</a>
        </div>
			</div>
		</div>
	</section>

	<section>
		<div class="container-fluid padded footer text-center">
			<div id="shop">
				<a title="Go to my Etsy store" href="https://www.etsy.com/shop/laurastouchartcrafts" onclick="trackOutboundLink('https://www.etsy.com/shop/laurastouchartcrafts'); return false;">
					<img src="img/store.svg" alt="Store">
					<p>Shop now ↬</p>
				</a>
			</div>
			<div id="socials" class="top-margin">
				<p>Follow me</p>
				<ul>
          <li class="social" id="fb"><a title="Facebook" href="https://www.facebook.com/laurastouchartcrafts/"></a>					</li>
          <li class="social" id="ig"><a title="Instagram" href="https://www.instagram.com/laurastouch/"></a></li>
					<li class="social" id="tw"><a title="Twitter" href="https://twitter.com/LaurasTouchArt"></a></li>
					<li class="social" id="gp"><a title="Google plus" href="https://plus.google.com/+LaurasTouch"></a></li>
					<li class="social" id="yt"><a title="Youtube" href="https://www.youtube.com/channel/UC4IyXg30h2M68V-HmQSiPRQ"></a></li>
					<li class="social" id="pi"><a title="Pinterest" href="https://it.pinterest.com/laurastouchart/"></a></li>
				</ul>
			</div>
			<div class="copyrights top-margin">
				<p>&copy; 2016 Laura's Touch, all rights reserved.</p>
			</div>
		</div>
	</section>

{% include scripts.html %}

</body>

</html>
